CREATE DATABASE QLMonAn
use QLMonAn
 
CREATE TABLE MonAn(
	MaMonAn int  NOT NULL PRIMARY KEY,
	TenMonAn nvarchar(50) NOT NULL,
	DonViTinh nvarchar(50) NULL,
	DonGia int NULL,
	Nhom int NULL)

CREATE TABLE NhomMonAn(
	MaNhom int  NOT NULL PRIMARY KEY,
	TenNhom nvarchar(50) NOT NULL)
 
INSERT MonAn (MaMonAn, TenMonAn, DonViTinh, DonGia, Nhom) VALUES (1, N'Gỏi thập cẩm', N'Dĩa', 120000, 1)
INSERT MonAn (MaMonAn, TenMonAn, DonViTinh, DonGia, Nhom) VALUES (2, N'Gỏi sứa', N'Dĩa', 140000, 1)
INSERT MonAn (MaMonAn, TenMonAn, DonViTinh, DonGia, Nhom) VALUES (3, N'Gỏi tai heo', N'Dĩa', 110000, 1)

INSERT NhomMonAn (MaNhom, TenNhom) VALUES (1, N'Khai vị')
INSERT NhomMonAn (MaNhom, TenNhom) VALUES (2, N'Hải sản')
INSERT NhomMonAn (MaNhom, TenNhom) VALUES (3, N'Bia - Nước ngọt')

select * from NhomMonAn
select * from MonAn

select *
from NhomMonAn
where TenNhom like N'Khai vị'

select *
from MonAn
where Nhom =1

delete from MonAn where MaMonAn=1

update MonAn
set TenMonAn='a', DonViTinh='dia', DonGia=5555, Nhom=1
where MaMonAn=17